<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label>New Task</label>
      <input #todoitem class="form-control">
    </div>
  </div>

  <div class="col-6">
    <div class="form-group">
      <label>List</label>
      <select #todolist class="form-control">
        <option selected value="todo">To Do</option>
        <option value="done">Done</option>
      </select>
    </div>
  </div>

  <div class="col-12 text-right">
    <button (click)="addItem(todolist.value, todoitem.value)" class="btn  btn-primary">
      Add Item
    </button>
  </div>
</div>
