
<div class="row">
    <div class="col-6">
      <div class="form-group">
        <label>New Task</label>
        <input #todoitem class="form-control">
      </div>
    </div>
  
    <div class="col-6">
      <div class="form-group">
        <label>List</label>
        <select #todolist class="form-control">
          <option selected value="todo">To Do</option>
          <option value="done">Done</option>
        </select>
      </div>
    </div>
  
    <div class="col-12 text-right">
      <button (click)="addItem(todolist.value, todoitem.value)" class="btn  btn-primary">
        Add Item
      </button>
    </div>
  </div>
<div class= "mainContainer">
  <h1>TODO</h1>
<div class="subConatiner" cdkDropList (cdkDropListDropped)= "drop($event)"
#todoList="cdkDropList"
[cdkDropListData]="todo"
[cdkDropListConnectedTo]="[doneList]">
  <div  class="otherBox" cdkDrag *ngFor="let item of todo">{{item}}</div>
</div>
</div>

<div class="mainContainer">
    <h1>DONE</h1>
<div   class="subConatiner1" cdkDropList (cdkDropListDropped)= "drop($event)"
[cdkDropListData]="done"
#doneList="cdkDropList"
[cdkDropListConnectedTo]="[todoList]">
    <div class="otherBox"cdkDrag *ngFor="let item of done">{{item}}</div>
  </div>
</div>


<!-- <br>
<br>x
  <div
  cdkDropList
  #todoList="cdkDropList"
  [cdkDropListData]="todo"
  [cdkDropListConnectedTo]="[doneList]"
  class="example-list"
  (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
</div> -->
