<!-- <image src="/Users/kollushowrya/angularProjects/drapDrop/src/assets/IMG_0101.jpg"></image> -->
<div class="col-xs-4" >
    <img src="assets/IMG_0101.jpg"  style="height:'10px'" style="height: 200px; width:'200px'" class="img"  (click)="onClick()">
  </div>
<p>
  This is just a Home Landing page please click below for <b>TODO LIST</b> page.I might get some content in future 
</p>
<a routerLink="/dd">TODO LIST</a>

<p>
  This Apllication is to play around with drag and drop functionality of <b>angular 7</b>
</p>
